
<header class="shadow-sm sticky-top bg-white">
  <div class="container d-flex justify-content-between align-items-center py-3">
    <h1 class="logo fw-bold fs-4">Securitate<span>Online</span></h1>
    <nav>
  <ul class="nav gap-3 mb-0">
    <li class="nav-item">
      <a routerLink="/" class="nav-link text-dark" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/solutions" class="nav-link text-dark" routerLinkActive="active">Solutions</a>
    </li>
    <li class="nav-item">
      <a routerLink="/pricing" class="nav-link text-dark" routerLinkActive="active">Pricing</a>
    </li>
    <li class="nav-item">
      <a routerLink="/blog" class="nav-link text-dark" routerLinkActive="active">Blog</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link text-dark" routerLinkActive="active">Contact</a>
    </li>
  </ul>
</nav>

  </div>
</header>
